.game-board {
  margin-left: auto;
  margin-right: auto;

  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  border: 5px solid #000000;
  background-color: skyblue;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  overflow: hidden;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: pink;
}
h2 {
  text-align: center;
  line-height: 1.1;
  font-weight: bolder;
  font-size: 3em;
  font-style: italic;
  color: black;

  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
}
h4 {
  text-align: center;
  font-style: italic;
}

#instructions {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#div_selection {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 40%;
}

#button-novice {
  font-size: 40px;
  background-color: lightgreen;
  margin: 0.25em;
}

#button-intermediate {
  font-size: 40px;
  background-color: rgb(233, 109, 64);
  margin: 0.25em;
}

#button-expert {
  font-size: 40px;
  background-color: lightcoral;
  margin: 0.15em;
}

#button-play {
  border-radius: 10px;
  font-size: 40px;
  border: none;
  background-color: green;
}
button:hover {
  color: white;
  background-color: steelblue;
}

.hidden {
  visibility: hidden;
}

colgroup {
  border: 3px solid black;
}

td {
  border: 1px solid gray;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 4em;
  width: 1.5em;
  font-size: 1.5em;
  font-weight: bolder;
  color: crimson;
}
button {
  margin: 30px;
  padding: 10px;
  background: gainsboro;

  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#controls {
  text-align: center;
  margin: 2em;
}

#button-validate {
  border: hidden;
  border-radius: 10pc;
  font-size: 1.5em;
  background-color: steelblue;
}

#button-solve {
  border: hidden;
  border-radius: 10pc;
  background-color: magenta;
  font-size: 1.5em;
}

tr:first-child {
  border-top: 3px solid black;
}

tr:first-child {
  border-top: 3px solid black;
}

tr:nth-child(4) {
  border-top: 3px solid black;
}

tr:nth-child(7) {
  border-top: 3px solid black;
}
td {
  height: 40px;
  width: 40px;
  border: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
}

input {
  color: black;
  padding: 0;
  border: 0;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: #ffffff;
  outline: none;
}

.incorrect {
  background-color: rgba(255, 0, 0, 0.4);
}

.incorrect-input {
  background-color: rgba(255, 0, 0, 0);
}
