html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  margin: 0;

  overflow: hidden;

  font-family: "Lato", sans-serif;

  background-color: pink;
}
h1 {
  text-align: center;
  line-height: 1.1;
  font-weight: bolder;
  font-size: 5rem;
  font-style: italic;
  color: black;

  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
}
button {
  margin: 30px;
  padding: 10px;
  background: gainsboro;
  border: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
button:hover {
  color: white;
  background-color: steelblue;
}
table {
  border: 5px solid #000000;
}

td {
  border: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
}

input {
  color: black;
  padding: 0;
  border: 0;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: #ffffff;
  outline: none;
}

input:disabled {
  background-color: skyblue;
  color: black;
}
#cell-0,
#cell-1,
#cell-2 {
  border-top: 2px solid #000000;
}
#cell-2,
#cell-8 {
  border-right: 2px solid #000000;
}
#cell-6,
#cell-7,
#cell-8 {
  border-bottom: 2px solid #000000;
}
#cell-0,
#cell-6 {
  border-left: 2px solid #000000;
}

#cell-3,
#cell-4,
#cell-5 {
  border-top: 2px solid #000000;
}
#cell-5,
#cell-11 {
  border-right: 2px solid #000000;
}
#cell-9,
#cell-10,
#cell-11 {
  border-bottom: 2px solid #000000;
}
#cell-3,
#cell-9 {
  border-left: 2px solid #000000;
}

#cell-12,
#cell-13,
#cell-14 {
  border-top: 2px solid #000000;
}
#cell-14,
#cell-20 {
  border-right: 2px solid #000000;
}
#cell-18,
#cell-19,
#cell-20 {
  border-bottom: 2px solid #000000;
}
#cell-12,
#cell-18 {
  border-left: 2px solid #000000;
}

#cell-15,
#cell-16,
#cell-17 {
  border-top: 2px solid #000000;
}
#cell-23,
#cell-17 {
  border-right: 2px solid #000000;
}
#cell-21,
#cell-22,
#cell-23 {
  border-bottom: 2px solid #000000;
}
#cell-15,
#cell-21 {
  border-left: 2px solid #000000;
}

#cell-24,
#cell-25,
#cell-26 {
  border-top: 2px solid #000000;
}
#cell-26,
#cell-32 {
  border-right: 2px solid #000000;
}
#cell-30,
#cell-31,
#cell-32 {
  border-bottom: 2px solid #000000;
}
#cell-30,
#cell-24 {
  border-left: 2px solid #000000;
}

#cell-27,
#cell-28,
#cell-29 {
  border-top: 2px solid #000000;
}
#cell-35,
#cell-29 {
  border-right: 2px solid #000000;
}
#cell-33,
#cell-34,
#cell-35 {
  border-bottom: 2px solid #000000;
}
#cell-33,
#cell-27 {
  border-left: 2px solid #000000;
}

